# {{ project_name }}

{% if repository_provider == "github.com" -%}
[![ci](https://{{ repository_host }}/{{ repository_namespace }}/{{ repository_name }}/workflows/ci/badge.svg)](https://{{ repository_host }}/{{ repository_namespace }}/{{ repository_name }}/actions?query=workflow%3Aci)
[![release](https://{{ repository_host }}/{{ repository_namespace }}/{{ repository_name }}/workflows/release/badge.svg)](https://{{ repository_host }}/{{ repository_namespace }}/{{ repository_name }}/actions?query=workflow%3Arelease)
{% elif repository_provider == "gitlab.com" -%}
[![pipeline](https://{{ repository_host }}/{{ repository_namespace }}/{{ repository_name }}/badges/main/pipeline.svg)](https://{{ repository_host }}/{{ repository_namespace }}/{{ repository_name }}/-/pipelines)
{% endif -%}
{%- if repository_host in ['github.com', 'gitlab.com'] -%}
[![documentation](https://img.shields.io/badge/docs-mkdocs-708FCC.svg?style=flat)](https://{{ repository_namespace }}.{{ repository_host.rsplit('.', 1)[0] }}.io/{{ repository_name }}/)
{%- else -%}
[![documentation](https://img.shields.io/badge/docs-mkdocs-708FCC.svg?style=flat)](https://{{ repository_host }}/{{ repository_namespace }}/{{ repository_name }})
{%- endif %}
{%- if publish_to_pypi %}
[![pypi version](https://img.shields.io/pypi/v/{{ python_package_distribution_name }}.svg)](https://pypi.org/project/{{ python_package_distribution_name }}/)
{%- endif %}
[![Python 3.14+](https://img.shields.io/badge/python-3.14+-blue.svg)](https://www.python.org/downloads/)
{%- if repository_provider == "github.com" %}
[![codecov](https://codecov.io/github/{{ repository_namespace }}/{{ repository_name }}/graph/badge.svg)](https://codecov.io/github/{{ repository_namespace }}/{{ repository_name }})
{%- endif %}

{{ project_description }}
{% if use_ci and repository_provider == "github.com" %}
## Branch protection

The CI workflow includes a `ci-pass` gate job that aggregates the status of all CI jobs.
Add a [branch protection rule](https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/managing-a-branch-protection-rule/managing-a-branch-protection-rule) for `main` requiring the **`ci-pass`** status check to pass before merging.
{% endif %}
