# {{ project_name }}

{% if repository_provider == "github.com" -%}
[![ci](https://github.com/{{ repository_namespace }}/{{ repository_name }}/workflows/ci/badge.svg)](https://github.com/{{ repository_namespace }}/{{ repository_name }}/actions?query=workflow%3Aci)
[![release](https://github.com/{{ repository_namespace }}/{{ repository_name }}/workflows/release/badge.svg)](https://github.com/{{ repository_namespace }}/{{ repository_name }}/actions?query=workflow%3Arelease)
{% elif repository_provider == "gitlab.com" -%}
[![pipeline](https://{{ repository_provider }}/{{ repository_namespace }}/{{ repository_name }}/badges/main/pipeline.svg)](https://{{ repository_provider }}/{{ repository_namespace }}/{{ repository_name }}/-/pipelines)
{% endif -%}
[![documentation](https://img.shields.io/badge/docs-mkdocs-708FCC.svg?style=flat)](https://{{ repository_namespace }}.{{ repository_provider[:-4] }}.io/{{ repository_name }}/)
[![pypi version](https://img.shields.io/pypi/v/{{ python_package_distribution_name }}.svg)](https://pypi.org/project/{{ python_package_distribution_name }}/)
[![Python 3.14+](https://img.shields.io/badge/python-3.14+-blue.svg)](https://www.python.org/downloads/)
{%- if repository_provider == "github.com" %}
[![codecov](https://codecov.io/gh/{{ repository_namespace }}/{{ repository_name }}/branch/main/graph/badge.svg)](https://codecov.io/gh/{{ repository_namespace }}/{{ repository_name }})
{%- endif %}
{{ project_description }}

## Installation

```bash
pip install {{ python_package_distribution_name }}
```

{% if python_package_command_line_name -%}
With [`uv`](https://docs.astral.sh/uv/):

```bash
uv tool install {{ python_package_distribution_name }}
```
{%- endif %}

## Template Updates

This project was generated with [copier-uv-bleeding](https://github.com/detailobsessed/copier-uv-bleeding).

To pull the latest template changes (smart 3-way merge that respects your project changes):

```bash
copier update --trust .
```

To re-apply the template from scratch (ignores your project diff):

```bash
copier recopy --trust --overwrite .
```
